<div class="top-brands">
  <div class="container">
    <h3>Super Ofertas</h3>
    <div class="agile_top_brands_grids">
      <% products_with_discount.map do |product| %>
        <div class="col-md-3 top_brand_left">
          <div class="hover14 column">
            <div class="agile_top_brand_left_grid">
              <div class="agile_top_brand_left_grid1">
                <figure>
                  <div class="snipcart-item block" >
                    <div class="snipcart-thumb">
                      <div style="width: auto; height:auto;">
                        <%= image_tag(product.image, style:'width:100%') %>
                      <div>
                      <p><%= "#{product.name}" %></p>
                      <h4><%= "#{(product.price - (product.price.to_f / 100 * product.price)).round(2)}" %> <span><%= "#{product.price}" %></span></h4>
                    </div>
                    <div class="snipcart-details top_brand_home_details">
                      <form action="checkout.html" method="post">
                        <fieldset>
                          <input type="hidden" name="cmd" value="_cart" />
                          <input type="hidden" name="add" value="1" />
                          <input type="hidden" name="business" value=" " />
                          <input type="hidden" name="item_name" value="Fortune Sunflower Oil" />
                          <input type="hidden" name="amount" value="7.99" />
                          <input type="hidden" name="discount_amount" value="1.00" />
                          <input type="hidden" name="currency_code" value="USD" />
                          <input type="hidden" name="return" value=" " />
                          <input type="hidden" name="cancel_return" value=" " />
                          <input type="submit" name="submit" value="Agregar al carrito" class="button" />
                        </fieldset>
                      </form>
                    </div>
                  </div>
                </figure>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>